# SPDX-License-Identifier: GPL-2.0+
#
# Copyright (C) 2022 bytes at work AG - https://www.bytesatwork.io
#
# Based on ti/am62x/Kconfig
# Copyright (C) 2020-2022 Texas Instruments Incorporated - https://www.ti.com/
#	Suman Anna <s-anna@ti.com>

choice
	prompt "bytes at work TI AM62x based boards"
	optional

config TARGET_AM62X_BYTEDEVKIT_A53
	bool "byteENGINE-AM62x on byteDEVKIT running on A53"
	select ARM64
	select SOC_K3_AM625
	imply BOARD
	imply SPL_BOARD

config TARGET_AM62X_BYTEDEVKIT_R5
	bool "byteENGINE-AM62x on byteDEVKIT running on R5"
	select CPU_V7R
	select SYS_THUMB_BUILD
	select K3_LOAD_SYSFW
	select SOC_K3_AM625
	select RAM
	select SPL_RAM
	select K3_DDRSS
	imply SYS_K3_SPL_ATF

endchoice

if TARGET_AM62X_BYTEDEVKIT_A53 || TARGET_AM62X_BYTEDEVKIT_R5

config SYS_BOARD
	default "bytedevkit"

config SYS_VENDOR
	default "bytesatwork"

config SYS_CONFIG_NAME
	default "am62x_bytedevkit"

config BAW_COMMON_CMD_OPTIONS
	bool "Enable bytesatwork cmd options"
	imply CMD_ASKENV
	imply CRC32_VERIFY if ARCH_KEYSTONE
	imply CMD_DFU if USB_GADGET_DOWNLOAD
	imply CMD_DHCP
	imply CMD_EEPROM
	imply CMD_EXT2
	imply CMD_EXT4
	imply CMD_EXT4_WRITE
	imply CMD_FAT
	imply FAT_WRITE if CMD_FAT
	imply CMD_FS_GENERIC
	imply CMD_GPIO
	imply CMD_GPT
	imply CMD_I2C
	imply CMD_MII
	imply CMD_MMC
	imply CMD_PART
	imply CMD_PING
	imply CMD_PMIC if DM_PMIC
	imply CMD_REGULATOR if DM_REGULATOR
	imply CMD_SF if SPI_FLASH
	imply CMD_SPI
	imply CMD_TIME
	imply CMD_USB if USB

endif

if TARGET_AM62X_BYTEDEVKIT_R5

config SPL_LDSCRIPT
	default "arch/arm/mach-omap2/u-boot-spl.lds"

endif
